<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.genuitec.eclipse.ast.deploy.core.runonserver">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/shop"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="runonserver.exploded" value="true"/>
<stringAttribute key="runonserver.project" value="shop"/>
<stringAttribute key="runonserver.server" value="myeclipseTomcatServer"/>
<booleanAttribute key="runoserver.restart" value="true"/>
</launchConfiguration>
